<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tfswufe.resume.mapper.LogMapper">
  <resultMap id="BaseResultMap" type="com.tfswufe.resume.domain.entity.Log">
    <!--@mbg.generated-->
    <!--@Table tb_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="duration" jdbcType="BIGINT" property="duration" />
    <result column="result" jdbcType="LONGVARCHAR" property="result" />
    <result column="info" jdbcType="LONGVARCHAR" property="info" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, account, ip, url, `method`, params, duration, `result`, info, deleted, 
    `state`, create_time, update_time
  </sql>
</mapper>